// Variables
$primary: #0d6efd;
$secondary: #6c757d;
$accent: #ffb703;

$bg: #ffffff;
$text: #111111;
$muted: #6c757d;

// Tipografías
$font-base: 'Roboto', sans-serif;
$font-heading: 'Oswald', sans-serif;

// Breakpoints
$bp-sm: 576px;
$bp-md: 768px;
$bp-lg: 992px;
$bp-xl: 1200px;
